name: "Build and test"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    
    strategy:
      matrix:
        year: [2020, 2019, 2018]

    runs-on: ubuntu-latest

    env:
      manifest: ${{ matrix.year }}/Cargo.toml

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --manifest-path=$manifest
    - name: Run tests
      run: cargo test --manifest-path=$manifest
